*{
    margin: 0;
    padding: 0;
}

/* header */
.head_color {
    background-color: rgb(13, 171, 219);
    height: 150px;
}

.pattern_layer {
    height: 100%;
    width: 100%;
}

.pattern {
    height: 100%;
    
}


/* main */
h1 {
    font-size: 45px;
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

.author {
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
}

.image {
    margin-left: 10px;
}
.booleaner {
    color: rgb(39, 200, 240);
}

.date {
    font-size: 14px;
}
.caption {
    font-size: 12px;
    margin-bottom: 10px;
}

.main_text {
    margin: 20px;
}

.highlight {
    background-color: yellow;
}

.thead {
    background-color: rgb(52, 200, 236);
}

.tr1 {
    background-color: rgb(178, 238, 255);
}

table {
    margin: 20px;
}

.footer_text {
    color: grey;
    margin: 10px;
}

.image_footer {
    position: relative;
}


