*{
    margin: 0;
    padding: 0;
}

/* header */
.head_color {
    background-color: rgb(13, 171, 219);
    height: 150px;
}

.pattern_layer {
    height: 100%;
    width: 100%;
}

.pattern {
    height: 100%;
    
}


/* main */
h1 {
    font-size: 45px;
    margin-left: 10px;
}

p {
    margin-left: 10px;
}