*{
    margin: 0;
}


/* header */
header {
    background-color: rgb(13, 171, 219);
    background-image: url("../img/pattern.png");
    height: 150px;
}

.logo {
    height: 50px;
    margin-top: 80px;
}


.body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/* main */
h1 {
    font-size: 45px;
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

.author {
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
}

.image {
    margin-left: 10px;
}
.booleaner {
    color: rgb(39, 200, 240);
}

.date {
    font-size: 14px;
}
.caption {
    font-size: 12px;
    margin-bottom: 10px;
}

.main_text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.highlight {
    background-color: yellow;
}


ul {
    margin: 20px;
    margin-left: 0px;
    padding-left: 30px;
}



/* table */
table {
    border-spacing: 0px;
    margin: 10px;
}

.d25 {
    width: 25%;
}

.d50 {
    width: 50%;
}

.thead {
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: rgb(52, 200, 236);
}

.tr1 {
    margin: 0;
    padding: 0;
    background-color: rgb(178, 238, 255);
}




/* footer */
.footer_text {
    color: grey;
    margin: 10px;
}

.footer_img_1 {
    height: 200px;
    width: 300px;
    background-image: url(../img/monitor.jpg);
    margin-bottom: 20px;
    margin-left: 10px;
}

.footer_img_2 {
    height: 200px;
    width: 300px;
    background-image: url(../img/graph.jpg);
    margin-bottom: 20px;
    margin-left: 10px;
}


.image_text {
    padding-top: 15px;
    font-size: 22px;
    color: aliceblue;
}